@import "../common/common";

.thumbnail {
    display: block;
    position: relative;
}

.thumbnailpiccontrol {
    margin: 2px;
    cursor: pointer;
}

.thumbnailheader {
    color: $color-white;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    padding: 0px;
    margin: 0 auto;
    line-height: 1.67rem;
}

.thumbnailstats {
    width: calc(100% - 20px);
    color: $color-white;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    padding: 0px 0px;
    margin: 0 auto;
    line-height: 1.67rem;
    position: absolute;
    bottom: 35px;
    left: 10px;
    background-color: $color-transparent;
    label {
        span {
            background-color: $color-shark;
            opacity: 0.6;
            padding: 3px 7px;
            svg {
                top: .125rem;
                position: relative;
                width: 1rem;
                height: 1rem;
            }
        }

    }

}

@media screen and (max-width: 800px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    .albumitem {
        width: calc(33.33333% - 40px);
    }
}

@media screen and (max-width: 600px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    .albumitem {
        width: calc(33.33333% - 40px);
    }
}

@media screen and (max-width: 540px) {
    .albumitem {
        width: calc(50% - 40px);
    }
}

@media screen and (max-width: 400px) {
    .albumitem {
        width: calc(50% - 40px);
    }
}
