@import "../common/common";

.blogsectionheader {
  font-size: 1.3rem;
  font-weight: bold;
  color: $color-abbey;
  border-bottom: 3px solid $color-atlantis;
  padding: 5px 0px;
  width: calc(100% - 20px);
  margin: 0px 10px;
}

.blogsectiongroup {
  margin-top: 5px;
  width: 100%;
  margin-left: 0%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.blogsectionitem {
  background-color: $color-white;
  padding:10px;
  width:calc(33.333333% - 40px);
  margin: 10px;
  text-align:center;
  cursor:pointer;
  border-radius:10px;
  box-shadow:0 1px 3px rgba(0,0,0,.4)
}

.blogsectiontitle {
  color: $color-crete;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 0px 0px 10px;
  text-align: center;
}

.blogsectionpiccontrol, .blogsectiontext {
  margin: 0 auto;
  color: $color-shark;
  font-size: 1rem;
  text-align: left;
  a {
    text-decoration: none;
    color: $color-hot-cinnamon;
  }
}

@media screen and (max-width: 800px) {
  .blogsectionitem {
    width: calc(50% - 20px);
    margin: 10px 5px;
    padding:10px 5px;
  }
}

@media screen and (max-width: 400px) {
  .blogsectionitem {
    width: calc(100% - 20px);
    margin: 10px 5px;
    padding:10px 5px;
  }
}