@import '../common/common';

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}

@keyframes rcSwitchOn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes rcSwitchOff {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.rc-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 60px;
  height: 22px;
  line-height: 20px;
  padding: 0;
  vertical-align: middle;
  border-radius: 20px 20px;
  border: 1px solid $color-grey;
  background-color: $color-grey;
  color: $color-white;
  font-family: Open Sans, Sans-Serif;
  font-weight: normal;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  &:after {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 2px;
    top: 1px;
    border-radius: 50% 50%;
    background-color: $color-white;
    content: " ";
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    transform: scale(1);
    transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    animation-duration: 0.3s;
    animation-name: rcSwitchOff;
  }
  &:hover {
    &:after {
      transform: scale(1.1);
      animation-name: rcSwitchOn;
    }
  }
  &:focus {
    box-shadow: 0 0 0 2px #d5f1fd;
    outline: none;
  }
}
.rc-switch-inner {
  color: $color-white;
  font-size: 1rem;
  position: absolute;
  left: 35px;
  top: 0;
}
.rc-switch-checked {
  border: 1px solid $color-hot-cinnamon;
  background-color: $color-hot-cinnamon;
  .rc-switch-inner {
    left: 6px;
  }
  &:after {
    left: 38px;
  }
}
.rc-switch-disabled {
  cursor: no-drop;
  background: #ccc;
  border-color: #ccc;
  &:after {
    background: #9e9e9e;
    animation-name: none;
    cursor: no-drop;
  }
  &:hover {
    &:after {
      transform: scale(1);
      animation-name: none;
    }
  }
}
.rc-switch-label {
  display: inline-block;
  line-height: 20px;
  font-size: 1rem;
  padding-left: 10px;
  vertical-align: middle;
  white-space: normal;
  pointer-events: none;
  user-select: text;
}
