@import "../common/common";

.visitstatusgroup {
    margin: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    text-align: center;
    background-color: $color-transparent;
}

.visitstatusitem {
    padding: 0px;
    width:calc(16.666667% - 4px);
    margin: 2px;
}

.visitstatustitle {
    width: calc(100% - 4px);
    font-family: Open Sans, Sans-Serif;
    font-size: 1rem;
    font-weight: normal;
    margin: 0px;
    padding: 5px 2px;
    text-align: center;
    line-height: 1.67rem;
    letter-spacing: 0px;
    float: left;
}

@media screen and (max-width: 800px) {
    .visitstatusitem {
        width:calc(25% - 4px);
    }
    .visitstatustitle {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 600px) {
    .visitstatusitem {
        width:calc(33.333333% - 4px);
    }
    .visitstatustitle {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 400px) {
    .visitstatusitem {
        width:calc(50% - 4px);
    }
    .visitstatustitle {
        font-size: 0.8rem;
    }
}