@charset "UTF-8";

$color-transparent: rgba(255, 255, 255, 0);
$color-oxblood: rgb(118, 50, 63);
$color-blackboard: rgb(86, 86, 86);
$color-grain: rgb(215, 206, 199);
$color-tan: rgb(192, 159, 128);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-white-dark: rgb(251, 251, 251);
$color-white-darker: rgb(247, 247, 247);
$color-white-darkest: rgb(239, 239, 239);
$color-red: rgb(255, 0, 0);
$color-lightcoral: rgb(240, 128, 128);
$color-aqua: rgb(175, 255, 255);
$color-athens-grey: rgb(230, 233, 240);
$color-pigeon-post: rgb(188, 203, 222);
$color-ziggurat: rgb(194, 221, 230);
$color-grape: rgb(67, 28, 93);
$color-hot-cinnamon: rgb(224, 89, 21);
$color-key-lime-pie: rgb(205, 212, 34);
$color-grey: rgb(169,169,169);
$color-silver: rgb(192,192,192);
$color-metallic-yellow: rgb(253, 204, 13);
$color-blue-jay: rgb(43, 84, 127);
$color-san-marino: rgb(66, 103, 178);
$color-shark: rgb(34, 38, 41);
$color-abbey: rgb(71, 75, 79);
$color-nevada: rgb(107, 110, 112);
$color-crete: rgb(97, 137, 47);
$color-atlantis: rgb(134, 194, 50);
$color-dandelion: rgb(248, 215, 117);
$color-punch: rgb(221, 75, 57);