@import "../common/common";

.servicepartnerframe {
    border-width: 0px;
    border-style: solid;
    border-color: $color-tan;
    width: 50%;
    height: auto;
    margin: 10px 25% 5px;
    line-height: 1.67rem;
    position: relative;
    background-color: $color-athens-grey;
    float: left;
    padding-bottom: 10px;
}

.servicepartnercontainer {
    width: calc(100% - 30px);
    height: auto;
    line-height: 1.67rem;
    margin: 0px 10px;
    padding: 5px 5px 0px;
    background-color: $color-white-dark;
    float: left;
}

.servicepartner {
    font-family: Open Sans, Sans-Serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.67rem;
    color: $color-abbey;
    text-align: justify;
    padding: 5px 0px;
    p ol {
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        li {
            margin-left: 20px;
            width: calc(100% - 20px);
        }
    }
}

@media screen and (max-width: 600px) {
    .servicepartnerframe {
        width: 100%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    .servicepartnerframe {
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 400px) {
    .servicepartner {
        text-align: left;
    }
}
