@import "../common/common";

.serveasepageframe {
  border-width: 0px;
  border-style: solid;
  border-color: $color-tan;
  width: 100%;
  height: auto;
  margin: 10px 0px;
  line-height: 1.67rem;
  position: relative;
  background-color: $color-shark;
  float: left;
}

.defaultserveasemessage {
  color: $color-black;
  font-family: Open Sans, Sans-Serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.67rem;
  margin: 10px;
  padding: 10px;
  text-align: justify;
  background-color: $color-athens-grey;
  p {
    margin: 10px 0px 0px;
  }
  a {
    text-decoration: underline;
    color: $color-grape;
  }
}

.startmessage {
  width: calc(100% - 40px);
  height: auto;
  margin: 10px 10px 0px;
  background-color: $color-white-dark;
  padding: 5px 10px;
}

.message {
  color: $color-abbey;
  font-family: Open Sans, Sans-Serif;
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
}

.serveasecountrypageframe {
  border-width: 0px;
  border-style: solid;
  border-color: $color-tan;
  width: 100%;
  height: auto;
  margin: 10px 0px 5px;
  line-height: 1.67rem;
  position: relative;
  background-color: $color-athens-grey;
  float: left;
}

.serveasecountrycontainer {
  width: calc(100% - 40px);
  height: auto;
  margin: 10px;
  background-color: $color-white-dark;
  padding: 5px 10px;
  float: left;
}

.serveasecountrymessage {
  background-color: $color-transparent;
  padding: 10px;
  margin: 0;
  font-family: Open Sans, Sans-Serif;
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
}

.questionnairecontainer {
  width: calc(100% - 40px);
  height: auto;
  margin: 0 10px;
  background-color: $color-white-dark;
  border: 0px solid $color-tan;
  float: left;
  padding: 5px 10px;
}

.question {
  width: calc(45% - 10px);
  height: auto;
  padding: 5px;
  float: left;
  text-align: right;
}

.questionlabel {
  color: $color-abbey;
  font-family: Open Sans, Sans-Serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.67rem;
  padding: 0px 5px;
}

.questionnote {
  width: calc(100% - 10px);
  height: auto;
  margin: 0;
  padding: 0px 5px;
  text-align: justify;
  float: left;
}

.questionnotelabel {
  color: $color-blackboard;
  font-family: Open Sans, Sans-Serif;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.4rem;
  padding: 0px;
}

.response {
  width: calc(45% - 10px);
  height: auto;
  padding: 5px;
  float: left;
  line-height: 1.5rem;
}

.responselabel {
  color: $color-abbey;
  font-family: Open Sans, Sans-Serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.67rem;
  padding-left: 35px;
}

.changeDisable {
  width: 9.056604%;
  height: auto;
  padding: 0.471698%;
  left: 1%;
  text-align: center;
  overflow: hidden;
  opacity: 0;
}

.changeEnable {
  width: 9.056604%;
  height: auto;
  padding: 0.471698%;
  text-align: center;
  overflow: hidden;
}

.change {
  color: $color-grape;
  font-family: Open Sans, Sans-Serif;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.3rem;
  cursor: pointer;
}

.changepiccontrol {
  width: 20px;
  height: 20px;
}

.serveasebuttoncontainer {
  width: calc(100% - 40px);
  height: auto;
  margin: 0px 10px 10px;
  padding: 10px;
  background-color: $color-white-dark;
  border: 0px solid $color-tan;
  text-align: center;
  float: left;
}

.informationmessagecontainer {
  width: calc(100% - 40px);
  height: auto;
  color: $color-abbey;
  font-family: Open Sans, Sans-Serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.67rem;
  margin: 0 10px;
  padding: 5px 10px;
  background-color: $color-white-dark;
}

.informationtitle {
  width: 100%;
  text-align: center;
  background-color: $color-ziggurat;
  color: $color-grape;
}

.informationmessage {
  width: 100%;
  text-align: justify-all;
}

.informationsection {
  margin: 5px 0px;
  padding: 5px 0px;
}

.informationheader {
  font-weight: bold;
}

.informationstep {
  font-weight: normal;
}

.informationdisclaimer {
  font-style: italic;
  font-weight: bold;
}

.serviceenquiryframe {
  border-width: 0px;
  border-style: solid;
  border-color: $color-tan;
  width: 50%;
  height: auto;
  margin: 10px 25% 5px;
  line-height: 1.67rem;
  position: relative;
  background-color: $color-athens-grey;
  float: left;
  padding-bottom: 10px;
}

.serveaseenquiryquestion {
  display: block;
  width: 100%
}

.serveaseenquirylabel {
  color: $color-abbey;
  font-family: Open Sans, Sans-Serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.67rem;
  left: 1%;
}

.serveaseenquirynote {
  color: $color-abbey;
  font-family: Open Sans, Sans-Serif;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.5rem;
  left: 1%;
}

.serveaseenquiryoptions {
  display: block;
  width: 100%
}

.linktext {
  display: inline;
  color: $color-grape;
  font-family: Open Sans, Sans-Serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  cursor: pointer;
  text-decoration: underline;
}

.sectiongroup {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sectionlistitem {
  width: calc(100% - 10px);
  margin: 0 auto;
  padding: 5px;
}

.sectionheader {
  width: calc(100% - 20px);
  margin: 0px 0px 15px;
  padding: 10px;
  background-color: $color-white-darkest;
  color: $color-hot-cinnamon;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  &:disabled{
    opacity: 0.9;
  }
}

.questiongroup {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.questionlistitem {
  width: 100%;
}

.file-drop {
  /* relatively position the container bc the contents are absolute */
  position: relative;
  height: 200px;
  width: 100%;
  margin: 0px auto;
}

.file-drop > .file-drop-target {
  /* basic styles */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2px;

  /* horizontally and vertically center all content */
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;

  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;

  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;

  align-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;

  text-align: center;
}

.file-drop > .file-drop-target.file-drop-dragging-over-frame {
  /* overlay a black mask when dragging over the frame */
  border: none;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: none;
  z-index: 50;
  opacity: 1;

  /* typography */
  color: white;
}

.file-drop > .file-drop-target.file-drop-dragging-over-target {
  /* turn stuff orange when we are dragging over the target */
  color: #ff6e40;
  box-shadow: 0 0 13px 3px #ff6e40;
}

@media screen and (max-width: 620px) {
  /* comes into effect for screens less than or equal to 620 pixels */
  .question, .response {
    width: calc(90% - 10px);
    height: auto;
    padding: 5px;
    float: left;
    text-align: left;
    select {
      width: 100%;
    }
  }
  .responselabel {
    padding-left: 0px;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  .serviceenquiryframe {
    width: 80%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 400px) {
  .serviceenquiryframe {
    width: 100%;
    margin-left: 0%;
  }
  .serveasecountrymessage {
    text-align: left;
  }
  .defaultserveasemessage, .message, .serveasecountrymessage, .informationmessage {
    text-align: left;
  }
}