@import "../common/common";

.signinframe {
    border-width: 0px;
    border-style: solid;
    border-color: $color-tan;
    width: 50%;
    height: auto;
    margin: 10px 25% 10px;
    line-height: 1.67rem;
    position: relative;
    background-color: $color-shark;
    float: left;
    padding-bottom: 10px;
}

.signincontainer {
    width: calc(100% - 30px);
    height: auto;
    line-height: 1.67rem;
    margin: 0px 10px;
    padding: 5px 5px 0px;
    background-color: $color-white-dark;
    float: left;
}

.signin {
    font-family: Open Sans, Sans-Serif;
    font-size: 1rem;
    font-weight: normal;
    color: $color-abbey;
    line-height: 1.67rem;
    text-align: justify-all;
    padding: 5px 0px;
    margin: 0;
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    .signinframe {
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 400px) {
    .signinframe {
        width: 100%;
        margin-left: 0%;
    }
}
