@import "../common/common";

.travelguideframe {
    border-width: 0px;
    border-style: solid;
    border-color: $color-tan;
    width: 100%;
    height: auto;
    margin: 10px 0px;
    line-height: 1.67rem;
    padding: 0px 0px 10px;
    position: relative;
    background-color: $color-shark;
    float: left;
}

.travelguidecontainer {
    background-color: $color-white-dark;
    width: calc(100% - 40px);
    height: auto;
    font-family: Open Sans, Sans-Serif;
    font-weight: normal;
    margin: 0px 10px;
    padding: 0px 10px 10px;
    line-height: 1.67rem;
    float: left;
}

.travelguidegroup {
    margin: 0 10%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    text-align: center;
    background-color: $color-transparent;
}

.travelguideitem {
    background-color: $color-transparent;
    padding: 0px;
    width:calc(100% - 20px);
    margin: 5px 10px 0px;
    text-align:center;
    cursor:pointer;
}

.travelguidetitle {
    width: calc(100% - 20px);
    color: $color-abbey;
    font-family: Open Sans, Sans-Serif;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 10px;
    padding: 0px;
    text-align: left;
    line-height: 1.8rem;
    letter-spacing: 2px;
    float: left;
}

.traveldocumentsgroup {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    text-align: center;
    background-color: $color-transparent;
}

.traveldocumentblank {
    background-color: $color-transparent;
    padding: 0px;
    width: 100%;
    margin: 0px auto;
    line-height: 0rem;
}

.traveldocumentitem {
    background-color: $color-transparent;
    padding: 0px;
    width:calc(100% - 20px);
    margin: 5px 10px;
    cursor:pointer;
    text-align: left;
    &:hover{
        background-color: $color-white-darkest;
    }
}

.traveldocumenttitle {
    width: calc(100% - 10px);
    color: $color-abbey;
    font-family: Open Sans, Sans-Serif;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 5px;
    padding: 5px 0px;
    text-align: left;
    line-height: 1.67rem;
    letter-spacing: 1px;
    float: left;
}

.travelguidedocumentlogo {
    display: inline;
    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.travelguidedocumenttext {
    display: inline;
    margin-left: 10px;
    position: relative;
}



@media screen and (max-width: 800px) {
    .travelguidecontainer {
        width: calc(100% - 20px);
        margin: 0px 5px;
        padding: 0px 5px 10px;
    }
}

@media screen and (max-width: 600px) {
    .travelguidegroup {
        margin: 0 5%;
        width: 90%;
    }
    .travelguidetitle {
        width: calc(100% - 10px);
        color: $color-abbey;
        font-family: Open Sans, Sans-Serif;
        font-size: 1rem;
        font-weight: bold;
        margin: 0 5px;
        padding: 5px 0px;
        text-align: left;
        line-height: 1.67rem;
        letter-spacing: 1px;
        float: left;
    }
}

@media screen and (max-width: 400px) {
    .travelguidecontainer {
        width: 100%;
        margin: 0px auto;
        padding: 0px 0px 10px;
    }
    .travelguidegroup {
        margin: 0 0;
        width: 100%;
    }
    .travelguideitem {
        width: 100%;
        margin: 10px 0px;
    }
}